################################################################################
# Rust / Cargo
################################################################################
# Rust build artifacts
target/
**/target/


/target/
**/*.rs.bk
*.pdb
# Cargo environment files
.cargo/env
# Cargo lock files
**/Cargo.lock

################################################################################
# IDEs / Editors
################################################################################
.idea/
.vscode/
*.code-workspace

################################################################################
# OS / Misc
################################################################################
.DS_Store
Thumbs.db
*~
*.swp
*.swo

################################################################################
# Local environment
################################################################################
.env
.env.*
axc2
axc3
axis-compiler-bin

*.log
rebuild_instrumented.log

*.coreir

hello
multi_main
